$mc: #8fb1e9
$tc: #cfcfe0
$tw: #ffffff
$gradient: linear-gradient(90deg, rgba(2,0,36,1) 6%, rgba(9,9,121,1) 60%, rgba(0,212,255,1) 100%)
$gradient2: linear-gradient(90deg, rgba(0,212,255,1) 6%, rgba(9,9,121,1) 60%, rgba(2,0,36,1) 100%)



*
  font-family: 'Roboto', sans-serif
  font-size: 20px
html 
  scroll-behavior: smooth
h4
  text-align: center
  display: inline-block
li
  list-style: none


@mixin italic300
  font-weight: 300
  font-style: italic

@mixin shadow
  box-shadow:  20px 20px 60px #c0c5f8,-20px -20px 60px #ffffff

@mixin text-gradient
  background: $gradient2
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent

.bg-dark
  background: $gradient !important




.nav-item
  cursor: pointer
  position: relative
  &:after
    content: ''
    position: absolute
    bottom: 0
    left: 50%
    display: block
    background: none repeat scroll 0 0 transparent
    height: 2px
    width: 0
    background: $tw
    transition: width 0.3s ease 0s, left 0.3s ease 0s
  &:hover::after
    width: 100%
    left: 0
    color: $tw

.about
  background: $gradient
  color: $tw
  &-photo
    max-width: 250px
    overflow: hidden
    img
      width: 100%
      border-radius: 50%

.skills
  &-item
    margin-top: 10px
    @include italic300
    display: flex
    align-items: center
    &_icon
      max-width: 30px
      margin-right: 5px
      img
        width: 100%

.language
  @include italic300
  display: flex
  justify-content: space-evenly
  span
    opacity: 0.8

.interests
  &-item
    @include italic300
    display: flex
    align-items: center
    margin-top: 10px
    &_icon
      max-width: 30px
      margin-right: 5px
      img
        width: 100%

.education
  &-span
    @include italic300
    @include text-gradient
.course
  &-list
    a
      text-decoration: underline
      @include italic300

.card
  @include shadow
  height: 100%
  &-wrapper
    height: 17em
    background-size: cover
    background-position: center center
  &-span
    @include italic300
    @include text-gradient


.javascript
  background-color: $tc

.contacts
  &-social
    @include italic300
    li
      a
        text-decoration: none
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
  &-logo
    max-width: 40px
    border-radius: 10%
    path,circle
      fill: $mc
  &-rs
    display: flex
    align-items: center
    justify-content: center
    margin: 0 auto
    &_logo
      padding: 10px
    &_img
      width: 50px

pre
  background-color: #fff !important
  @include shadow

@media (max-width: 1200px)
  .card-wrapper
    height: 13em
@media (max-width: 992px)
  .card-wrapper
    height: 21em

@media (max-width: 768px)
  .about
    text-align: justify
    h1,h3
      text-align: center
  .card-wrapper
    height: 13em

@media (max-width: 575px)
  .language
    display: flex
    flex-direction: column
    text-align: center
  .skills, 
    flex-direction: column
    justify-content: center
    align-items: center
  .interests
    flex-direction: column
    align-items: center
  .course
    &-list
      flex-direction: column
  .card-wrapper
    height: 10em